@import 'https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Lora');



/*
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}*/

.prereq {
    margin-top: 2px;
    font-size: 0.8em;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

font-family: 'Montserrat', sans-serif;
  /*font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;*/

  padding: 1rem;

  /*color: #A77B0E;*/
  background-color: #e0e0e0;

  cursor: pointer;

  border: 1px solid #cbcbcb;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #556b2f;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;


  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.lbl-toggle > p {
    padding-left: 16px;
    margin-bottom: 0px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 550px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
  /*background: rgba(250, 224, 66, .2);*/
  /*border-bottom: 1px solid rgba(250, 224, 66, .45);*/
  /*border-bottom-left-radius: 7px;*/
  /*border-bottom-right-radius: 7px;*/
  padding: .5rem 1rem;
}


h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p,td,th,a,li {
    font-family: 'Lora', serif;
    font-size: 1.3em;
}

.pure-menu-item a {
    font-family: 'Montserrat', sans-serif;
}
.custom-menu-wrapper {
    white-space: nowrap;
    position: relative;
    font-size: .7em;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link {
    color: black;
    margin: 1px;
}

.custom-menu .pure-menu-link:hover {
    border: 1px solid #556b2f;
    background-color: white;
    margin: 0px;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    display: block;
    text-align: center;
    white-space: normal;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 23px;
    right: 0;
    display: none;
    /*background-color: black;*/
}

.custom-menu-toggle .bar {
    background-color: black;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 50em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

.body {
    margin-left: 2em;
    margin-right: 2EM;
}

.mytable {
    margin: 0px auto; 
    width: 80%;
}

.lecture {
    color:#1A769E;
}

.exclass {
    color:#389700;
}

.timetable tr {
    border-bottom: 1px solid #cbcbcb
}

.timetable td {
    border-bottom: 0px solid #cbcbcb
}

.time {
    text-align: center;
}​

.crop {
    width:100%;
    height: 30em;
    overflow: hidden;
}

.crop img {
    width: 100%;
    margin: -15% 0 0;
}

#tuckedMenu {
    padding: 0;
}

img.wordcloud{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.logo-wrapper {
    display: flex
}

.registration {
    margin:1px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #556b2f;
    color: white;
    padding: .5em 1em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.registration:hover {
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    color: black;
    border-style: solid;
    border-color: #556b2f;
    border-width: 1px;
}

@media (max-width: 98em) {

    #tuckedMenu {
        padding-left: 2em;
    }

    .body {
        margin-left: 2em;
        margin-right: 2em;
    }
    

    .logo {
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .crop {
        height: 50%;
    }

    .custom-menu-wrapper {
        margin-bottom: 2.5em;
    }

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }
    
    .custom-menu-bottom {
        /*position: absolute;*/
        width: 100%;
        /*border-top: 1px solid #eee;*/
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link:not(:hover) {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        /*top: 45px;*/
        position: absolute;
        overflow: hidden;
    }

    img.wordcloud { 
        width: 80%;
    }

    .logo-wrapper {
        display: inline-grid;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .registration{
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .registration:hover{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}


@media (max-width: 55em) {

    .unilogos {
        margin-left: 2em;
        margin-right: 2em;
    }

    .body {
        margin-left: 1em;
        margin-right: 1em;
    }

    .mytable {
        width: 100%
    }

    .pure-menu-horizontal .pure-menu-item {
        display: block;
    }

    img.wordcloud { 
        width: 100%;
    }


}

.logo {
    margin:10px;
}

.logo img {
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 0px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    margin: 1em;
    margin-top: 2em;
}


.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs-nav li {
    padding: 0 0;
}
.tabs-nav li:first-child a {
    border-right: 0;
}
.tabs-nav .tab-active a {
    color: #C3002F;
    cursor: default;
}
.tabs-nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
    padding: .5em 1em;
}
.tabs-nav li {
    float: left;
}
.tabs-stage {
    clear: both;
    margin-bottom: 20px;
    position: relative;
    top: -1px;
}

.home {
    font-size: 0.7em;
    text-decoration: none;
}

a {
    color: #556b2f;
}

.my-slider ul li img {
    max-width: 100%;
}


.google-maps {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
/*
a.unslider-arrow.prev {
    left:30%;
}

a.unslider-arrow.next {
    right:30%;
}*/
